{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Base layout with navbar">
    <meta name="author" content="RedisDex Team">
    <title>RedisDex</title>
    <link rel="icon" href="{% static 'store/img/logo_redisdex.png' %}" type="image/png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light p-3 ps-5 shadow-sm">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">RedisDex</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    
                    {% if not user.is_authenticated %}

                    <li class="nav-item">
                        <a class="nav-link" href="/accounts/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                    {% endif %}
                    
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'shop' %}">Shop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                    {% endif %}
 
                </ul>
                <ul class="navbar-nav ms-auto me-5">
                    {% if user.is_authenticated %}
                    <li class="nav-item d-flex align-items-center">
                        <span class="navbar-text me-3">Hello, {{ user.username }}</span>
                        <a class="nav-link" href="{% url 'cart' %}">
                            <i class="bi bi-cart"></i> Cart
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-4 p-4 ">
        {% block content %}
        <!-- Content goes here -->
        {% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>